{% extends 'base.html' %}
{% block page %}
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="name" name="name">
        <input type="number" step="0.01" placeholder="Cena" name="price">

        <select  name="producer_id" >
               {% for pd in producer %}
                   <option value="{{pd.id}}"> {{ pd.name }}</option>
               {% endfor %}
            </select>

        <select name="producttype_id" >
               {% for pt in product_types %}
                   <option value="{{pt.id}}"> {{ pt }}</option>
               {% endfor %}
            </select>
        <input type="submit">

    </form>

{% endblock %}