{% extends 'base.html' %}
{% block page %}
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="name" name="name">
        <select name="producttype_id" >
               {% for product_type in product_types %}
                   <option value="{{product_type.id}}"> {{ product_type.product_type_plural }}</option>
               {% endfor %}
            </select>
        <input type="submit">

    </form>

    <p>Producenci</p>
    {% include 'list_view.html' with object_list=producers %}

    <p> <ul>
        {% for producer in object.producers.all %}
            <li>{{ producer }}</li>
        {% endfor %}
        </ul>
    </p>

{% endblock %}