<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>Document</title>

</head>
<body>

<div class="topnav">
    <a class="active" href="{% url 'index' %}">Home</a>
    <a href="{% url 'price_list' %}">Cennik</a>
    <a href="{% url 'producers' %}">Producenci</a>
    <a href="{% url 'add_producer' %}">Dodaj Producenta</a>
    <a href="{% url 'add_product_type' %}">Dodaj typ produktu</a>
    <a href="{% url 'add_product' %}">Dodaj produkt</a>
    <a href="{% url 'products' %}">Produkty</a>
    <a href="{% url 'add_activity' %}">Dodaj czynność</a>
    <a href="{% url 'activities' %}">Czynności</a>
    <a href="{% url 'add_treatment' %}">Dodaj Zabieg</a>
    <a href="{% url 'treatments' %}">Zabiegi</a>



</div>
<div class="contener">
    {% block page %}

    {% endblock %}

</div>
{{ date }}
</body>
</html>